**/__pycache__
.pytest_cache
.benchmarks
**egg-info
**/.DS_Store
**/build
dist/*
docs/source/gallery/**
docs/source/benchmarks/**
.tox/
.python-version
.pre-commit-config.yaml
graphix/sim/graphix.code-workspace
graphix/graphix.code-workspace
*~
.vscode/settings.json
graphix/sim/graphix.code-workspace
.vscode/settings.json
.pre-commit-config.yaml
graphix/_version.py
