# CI
nox==2024.10.09 # Keep in sync with CI
pre-commit

# Optional dependencies
qiskit>=1.0
qiskit-aer
rustworkx

# Optional dependency. Pinned due to version changes often being incompatible
pyzx==0.8.0
