# Lint/format
mypy
pyright
ruff==0.9.10

# Stubs
types-networkx
types-psutil

# Tests
# Keep in sync with CI
nox==2025.2.9
psutil
pytest
pytest-cov
pytest-mock

# Optional dependencies
qiskit>=1.0
qiskit-aer
rustworkx

# Optional dependency. Pinned due to version changes often being incompatible
pyzx==0.8.0
