# Lint/format
mypy==1.19.1
pre-commit # for language-agnostic hooks
pyright
ruff==0.14.13

# Stubs
types-networkx==3.6.1.20251220
types-psutil
types-setuptools
scipy-stubs

# Tests
# Keep in sync with CI
# Nox with [pbs] allows it to automatically download missing Python versions
nox[pbs]==2025.11.12
psutil
pytest
pytest-benchmark
pytest-cov
pytest-mock
pytest-mpl

# Optional dependencies
qiskit>=1.0
qiskit_qasm3_import
qiskit-aer; python_version < "3.14"

openqasm-parser>=3.1.0
graphix-qasm-parser  @ git+https://github.com/TeamGraphix/graphix-qasm-parser.git
