@import url("sg_gallery.css");

.sphx-glr-thumbnails {
  width: 100%;
  margin: 0px 0px 20px 0px;
  justify-content: space-around;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr)) !important;
  gap: 15px;
  padding: 10px;
}

.sphx-glr-thumbcontainer {
  background: transparent;
  border-radius: 5px;
  box-shadow: 0 0 10px var(--sg-thumb-box-shadow-color);
  position: relative;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  border: 1px solid transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
  min-width: 330px;
  min-height: 270px;
  max-width: 340px;
  max-height: 300px;
}
