name: pytest-cov

on: [push, pull_request]

permissions:
  contents: read

env:
  python-version: "3.14"

jobs:
  cov:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0 # Fetch all, necessary to find tags and branches
          fetch-tags: true

      - name: Setup uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true
          python-version: ${{ env.python-version }}

      - name: Run pytest
        run: uv run --extra dev --extra extra pytest --cov=./graphix --cov-report=xml --cov-report=term --doctest-modules

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
