name: pytest-cov

# Need to include "push"
on: [push, pull_request]

permissions:
  contents: read

env:
  python-version: "3.13"

jobs:
  cov:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0  # Fetch all, necessary to find tags and branches
          fetch-tags: true

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.python-version }}

      - name: Upgrade pip
        run: python -m pip install --upgrade pip

      - name: Install graphix with dev deps.
        run: pip install .[dev]

      - name: Install graphix-openqasm-parser without deps.
        run: pip install --no-deps .[no-deps]

      - name: Run pytest
        run: pytest --cov=./graphix --cov-report=xml --cov-report=term

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
