name: doc

on:
  pull_request:
  workflow_dispatch:

permissions:
  contents: read
  pull-requests: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  python-version: "3.14"

jobs:
  check-doc:
    name: "Check documentation"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0  # Fetch all, necessary to find tags and branches
          fetch-tags: true

      - name: Setup uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true
          python-version: ${{ env.python-version }}

      - name: Make docs
        run: uv run --extra dev --extra doc sphinx-build -W docs/source docs/build -j auto

  lint-text:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true

      - name: Run language-agnostic linters
        run: |
          # Non-fixable
          uvx pre-commit run -a check-case-conflict
          uvx pre-commit run -a check-yaml

          # Fixable
          uvx pre-commit run -a end-of-file-fixer || true
          uvx pre-commit run -a fix-byte-order-marker || true
          uvx pre-commit run -a mixed-line-ending || true
          uvx pre-commit run -a trailing-whitespace || true

      - uses: actions/setup-node@v4

      - run: |
          corepack enable pnpm
          pnpm dlx prettier --write .

      - uses: reviewdog/action-suggester@v1.22.0
        with:
          tool_name: ":art: text-formatter"
